#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.create-container{
  input{
    padding: 10px;
    margin: 10px;
  }
  button{
    padding: 10px;
    margin: 10px;
  }
}


div.table-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}


button.button-edit{
  width: 40px;
}

button.button-delete{
  width: 40px;
}


table.table-all-container{
  font-size: 16px;
  border-collapse: collapse;
  width: 80%;
  border: 2px solid #ffff;
  border-spacing: 0;
}
th, td {
  width: 25%;
  border: 1px solid #ffffff75;
  padding: 12px;
}

.button-edit {
  margin-right: 10px;
}

.button-delete {
  margin-left: 10px;
}

.modal-container {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #222;
  padding: 80px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  input{
    padding: 10px;
    margin: 10px;
  }
  button{
    padding: 10px;
    margin: 10px;
  }
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}